<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>
<body>
    <h1> Welcome to my first Auth App  -- Roy</h1>

    <button type="submit"><a href="/signup">Signup</a></button>
    <button type="submit"><a href="/signin"></a>Signin</a></button>
    <button type="submit"><a href="/signout"></a>Signout</a></button>
    
</body>
</html>