<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{messgaes.tags}} alert-dimissible fade show" role="alert">
    <strong>Nessages:</strong>{{messages}}
    <button type="button" class="close" data dismiss="alert" aria-label="close">
    <span aria-hidden='true'
    <span>


    {%if user.is_authenticated%}
    <h3> Hello {{fname}}</h3>
    <h1> Welcome to my first Auth App </h1>
    {%endif%}

    <button type="submit"><a href="/signup">Signup</a></button>
    <button type="submit"><a href="/signin"></a>Signin</a></button>
    <button type="submit"><a href="/signout"></a>Signout</a></button>
    
</body>
</html>