<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="post" style="background-color: rgb(196, 255, 252);">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" id="username" placeholder="Create a username(only letters and numbers)" Required>
        <br>
        <br>
        <label>Firstname</label>
        <input type="text" name="firstname" id="firstname" placeholder="Enter your first name" Required>
        <br>
        <br>
        <label>Lastame</label>
        <input type="text" name="lastname" id="lastname" placeholder="Enter your last name" Required>
        <br>
        <br>
        <label>E-mail</label>
        <input type="email" name="email" id="email" placeholder="Enter your E-mail" Required>
        <br>
        <br>
        <label>Password</label>
        <input type="text" name="password" id="password" placeholder="Enter your password" Required>
        <br>
        <br>
        <label>Confirm Password</label>
        <input type="text" name="pass2" id="pass2" placeholder="Confirm your password" Required>
        <br>
        <br>

        <button type="submit" >Sign Up</button>

    </form>
</body>
</html>